<!DOCTYPE html>
<html {% block html_attributes %}lang="{{ site.lang }}" class="{% block html_class %}{% endblock %}"{% endblock %}>
  <head>
    {% block head %}
      <meta charset="{{ site.charset }}">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>
        {% block head_title %}
          {% if page.title %}
            {{ page.title }} | {{ site.name }}
          {% else %}
            {{ site.name }}
          {% endif %}
        {% endblock %}
      </title>
      {% if page.description %}
        <meta name="description" content="{% block head_description %}{{ page.description }}{% endblock %}">
      {% endif %}
      <meta name="viewport" content="{% block head_viewport %}width=device-width, initial-scale=1{% endblock %}">
      <meta name="format-detection" content="telephone=no">
      {# Disable tap highlight on IE #}
      <meta name="msapplication-tap-highlight" content="no">
      {# Web app config #}
      <meta name="application-name" content="{{ site.name }}">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="icon" sizes="192x192" href="{{ path.images }}/favicon-192x192.png">
      {# Windows 8/10 tiles #}
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="@@({{ path.images }}/favicon-144x144.png)">
      {# iOS web app config #}
      <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ path.images }}/favicon-180x180.png">
      <link rel="apple-touch-icon-precomposed" sizes="167x167" href="{{ path.images }}/favicon-167x167.png">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ path.images }}/favicon-152x152.png">
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ path.images }}/favicon-120x120.png">
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ path.images }}/favicon-76x76.png">
      <link rel="apple-touch-icon-precomposed" href="{{ path.images }}/favicon-57x57.png">
      {# Favicon #}
      <link type="image/png" rel="shortcut icon" href="{{ path.images }}/favicon-16x16.png">
      {% block head_styles %}
        <!-- build:css {{ path.styles }}/base.head.dist.css -->
        <link rel="stylesheet" href="{{ path.styles }}/main.css">
        <!-- endbuild -->
      {% endblock %}
      {% block head_scripts %}
        <!-- build:js {{ path.scripts }}/base.head.dist.js -->
        <script src="{{ path.scripts }}/vendor/palikka.js"></script>
        <!-- endbuild -->
      {% endblock %}
    {% endblock %}
  </head>
  <body {% block body_attributes %}class="{% block body_class %}{% endblock %}"{% endblock %}>
    {% block body %}
      {% block main %}{% endblock %}
      {% if site.ua %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', {{ site.ua }}, 'auto');
          ga('send', 'pageview');
        </script>
      {% endif %}
      {% block body_scripts %}
        <!-- build:js {{ path.scripts }}/base.body.dist.js -->
        <script src="{{ path.scripts }}/vendor/jquery.js"></script>
        <script src="{{ path.scripts }}/main.js"></script>
        <!-- endbuild -->
      {% endblock %}
    {% endblock %}
  </body>
</html>